name: Build EXE for Windows

on:
  push:
    branches: [ main ]  # Збірка запускатиметься при кожному пуші в гілку main
  workflow_dispatch:     # Дозволяє запускати збірку вручну кнопкою

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' # Вкажіть вашу версію Python

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        # Якщо у вас є requirements.txt, розкоментуйте рядок нижче:
        # pip install -r requirements.txt

    - name: Build EXE with PyInstaller
      run: pyinstaller --onefile main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Executable
        path: dist/main.exe